In [11]:
%matplotlib inline
import pandas as pd

In [12]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [13]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                              title  year
0                                 8  2007
1                            Romans  2016
2                       Ultra-Toxic  2005
3                     The Candy Man  1969
4  Friends & Lovers: The Ski Trip 2  2008

In [14]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                    title  year     name   type                character     n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22.0
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10.0
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan   NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron   NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron   NaN

### How many movies are listed in the titles dataframe?

In [15]:
len(titles['title']) #229882

229882

In [24]:
wo_dups =[]
for the_title in titles['title']:
    if the_title not in wo_dups:
        wo_dups.append(the_title)
print(len(wo_dups))

210214

### What are the earliest two films listed in the titles dataframe?

In [25]:
titles.sort_values('year')[0:2]['title'] #Ms. Jerry and The Startled Lover

120739            Miss Jerry
219516    The Startled Lover
Name: title, dtype: object

### How many movies have the title "Hamlet"?

In [18]:
len(titles[titles.title == 'Hamlet']) #19

19

### How many movies are titled "North by Northwest"?

In [19]:
len(titles[titles.title == 'North by Northwest']) #1

1

### When was the first movie titled "Hamlet" made?

In [162]:
titles[titles.title == 'Hamlet'].sort_values('year')[0:1]['year'] #1910

78380    1910
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [45]:
titles[titles.title =='Treasure Island'].sort_values('year')

                  title  year
180978  Treasure Island  1918
205617  Treasure Island  1920
209569  Treasure Island  1934
136811  Treasure Island  1950
43994   Treasure Island  1972
45301   Treasure Island  1973
122800  Treasure Island  1985
64621   Treasure Island  1999

### How many movies were made in the year 1950?

In [48]:
len(titles[titles.year == 1950]) #1081

1081

### How many movies were made in the year 1960?

In [49]:
len(titles[titles.year == 1960]) #1488

1488

### How many movies were made from 1950 through 1959?

In [83]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)]) #12602

12602

### In what years has a movie titled "Batman" been released?

In [54]:
titles[titles.title == 'Batman'].get('year') #1943, 1989

107587    1943
201542    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [58]:
len(cast[cast.title == 'Inception']) #77

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [163]:
inception_cast = cast[cast.title == 'Inception']
#Filter series by roles with n='NaN', ie, a null
len(inception_cast[inception_cast.n.isnull()]) #26

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [110]:
#Filter series by roles with a numeric 'n' value.
len(inception_cast[inception_cast.n.notnull()]) #51

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [112]:
nbnw_cast=cast[cast.title == 'North by Northwest']

In [116]:
nbnw_cast = nbnw_cast[nbnw_cast.n.notnull()].sort_values('n')
nbnw_cast

,title,year,name,type,character,n
828313,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3311904,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1384564,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2979655,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
338569,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2880266,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1611237,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1211365,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2324061,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1721393,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
632847,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2180279,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
441299,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1433579,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
195292,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1315609,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [128]:
sleuth_cast_1972 = cast[(cast.title == 'Sleuth') & (cast.year == 1972)]
sleuth_cast_1972.sort_values('n')

,title,year,name,type,character,n
1620851,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
309931,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
355001,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1392381,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2581312,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1376603,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [129]:
sleuth_cast_2007 = cast[(cast.title == 'Sleuth') & (cast.year == 2007)]
sleuth_cast_2007.sort_values('n')

          title  year                 name     type          character    n
309932   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1228911  Sleuth  2007             Jude Law    actor               Milo  2.0
1716240  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
246374   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
355002   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2581311  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3176194  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [135]:
hamlet_cast_1921 = cast[(cast.title == 'Hamlet') & (cast.year == 1921)]
len(hamlet_cast_1921[hamlet_cast_1921.n.notnull()]) #9

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [139]:
hamlet_cast_1996 = cast[(cast.title == 'Hamlet') & (cast.year == 1996)]
len(hamlet_cast_1996[hamlet_cast_1996.n.notnull()]) #46

46

### How many "Hamlet" roles have been listed in all film credits through history?

In [ ]:
hamlet_roles = cast[(cast.character == 'Hamlet') and (cast.n.notnull()].sort_values('year')
len(hamlet_roles) #89

### How many people have played an "Ophelia"?

In [178]:
ophelia_roles = cast[cast.character == 'Ophelia']
ophelia_roles
ophelia_actors = []
for name in ophelia_roles.name:
    if name not in ophelia_actors:
        ophelia_actors.append(name)
print(len(ophelia_actors)) #105

105

### How many people have played a role called "The Dude"?

In [160]:
the_dude_roles = cast[cast.character == 'The Dude']
len(the_dude_roles) #17

17

### How many people have played a role called "The Stranger"?

In [172]:
the_stranger_roles = cast[cast.character == 'The Stranger']
num_strangers = []
for name in the_stranger_roles.name:
    if name not in num_strangers:
        num_strangers.append(name)
len(num_strangers) #198

198

### How many roles has Sidney Poitier played throughout his career?

In [174]:
sidney_poitier_roles = cast[cast.name == 'Sidney Poitier']
len(sidney_poitier_roles) #43--While he plays Mr. Tibbs twice, they are not technically the same character within the 
                          # two films.

43

### How many roles has Judi Dench played?

In [23]:
dench_roles = cast[cast.name == 'Judi Dench']
num_roles = []
for role in dench_roles['character']:
    if role not in num_roles:
        num_roles.append(role)
print(len(num_roles)) #45

45

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [34]:
grant_roles = cast[(cast.name == 'Cary Grant') & (cast.year <= 1949) & (cast.year >= 1940) & (cast.n == 2)].sort_values('year')
grant_roles[['year', 'character']]

        year    character
828310  1940         Nick
828320  1941  Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [35]:
grant_roles = cast[(cast.name == 'Cary Grant') & (cast.year <= 1949) & (cast.year >= 1940) & (cast.n == 1)].sort_values('year')
grant_roles[['year', 'character']]

        year              character
828335  1940            Matt Howard
828292  1940           Walter Burns
828337  1940     C. K. Dexter Haven
828325  1941                Johnnie
828339  1942           Leopold Dilg
828316  1942  Patrick 'Pat' O'Toole
828283  1943          Capt. Cassidy
828308  1943              Joe Adams
828309  1943        Joe Bascopolous
828317  1944            Jerry Flynn
828275  1944      Mortimer Brewster
828312  1944             Ernie Mott
828311  1946            Cole Porter
828314  1946                 Devlin
828331  1947            Dick Nugent
828332  1947                 Dudley
828307  1948          Jim Blandings
828287  1948      Dr. Madison Brown
828296  1949    Capt. Henri Rochard

### How many roles were available for actors in the 1950s?

In [39]:
actor_roles = cast[(cast.type == 'actor') & (cast.year >= 1950) & (cast.year <= 1959)]
actor_roles[['character']]

                                                 character
62                                          Limbo Dance by
64                                                Dirk Jan
115                                             Themselves
256                                          Kampanna Dora
257                                            Basavareddy
270                                            H?yland jr.
276                                           Uncle Alfred
341                                                    Joe
342                                               Bit Role
343                                      Russel the Muscle
344                                            3rd Baseman
346                                         Johnny Briscoe
347                                         Teddy Hutchins
348                                             Little Boy
350                                             Don Heldon
351                                            Eli Skinner
352                                             Little Boy
353                                        Michael Elliott
354                                                    Boy
355                                            Johnny Lowe
356                                          Bobby Stilwin
357                                                 Arthur
358                                                    Boy
359                                                Donovan
360      J.B. Dorset aka Red Chief (segment "The Ransom...
361                                         Timmy Williams
362                                                    Boy
363                                          Alternate Boy
364                                            Corney Hall
365                                          Tommy Addison
...                                                    ...
2403782                                               Kita
2403808                                      Kral Abdullah
2403809                                               Usak
2403982                                               Cook
2403984                        Himself - F?rsvarsadvokaten
2404017                                             Viking
2404018                                  Speculative Buyer
2404019                                   Ticket Collector
2404021                                      Viktor Ekberg
2404023                                          Jazzgosse
2404024                                           Salesman
2404025                                          Andersson
2404026                      Gentleman whose car is stolen
2404027                                    Manager Nessing
2404030                                             Skakis
2404031                            Svensson, court janitor
2404073                                              Kahya
2404096                                              Idris
2404119                                               Riza
2404139                                           Muzaffer
2404140                                                Ali
2404282                                             Nevzat
2404320                                       Y?zbasi Avni
2404377                                        Mimar Selim
2404394                                              M?nir
2404638                                Asbj?rn, sauegjeter
2404646                                           Pelotari
2404708                                             Mehmet
2404816                                             Levend
2404817                                           Kara Efe

[153936 rows x 1 columns]

### How many roles were avilable for actresses in the 1950s?

In [46]:
actress_roles = cast[(cast.type == 'actress') & (cast.year >= 1950) & (cast.year <= 1959)]
#Depends on what you mean by 'how many'...
#If I only consider roles of different character names, regardless of if they are in a different film
print(len(actress_roles[['character']].drop_duplicates())) #35273
#But if I only consider all roles where the same person doesn't play the same character name in another movie
print(len(actress_roles[[ 'name', 'character']].drop_duplicates())) #54521
#Or, I could drop all roles where the character and title name were the same
print(len(actress_roles[['title', 'character']].drop_duplicates())) #50340
#There are more ways I could interpret this question...

35273
54521
50340

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [50]:
leading_roles = cast[(cast.year <= 1980) & (cast.n == 1)]
#Again, this question is ambiguous: how do we define a duplicate?
#If it's the same role, regardless of if the film is different or the same but a reboot, then
print(len(leading_roles[['character']].drop_duplicates())) #50883
#If it's the same role, but we only consider films of the same name, then
print(len(leading_roles[['title','character']].drop_duplicates())) #63013
#Finally, if we consider all roles to be different, regardless of identical name or in a film reboot
print(len(leading_roles[['character']])) #63537

50883
63013
63537

### How many non-leading roles were available through from the beginning of film history through 1980?

In [51]:
nonleading_roles = cast[(cast.year <= 1980) & (cast.n != 1)]
#For this one, I'll just assume that roles of the same name from the same named films are duplicates, and I consider
#un-ranked roles in here as well.
print(len(nonleading_roles[['title','character']].drop_duplicates())) #959607

959607

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [52]:
nonleading_roles = cast[(cast.year <= 1980) & cast.n.isnull()]
#I'll do the same with duplicates in this one as with the previous one.
print(len(nonleading_roles[['character']].drop_duplicates())) #184593

184593